body {
    background-image: url("../images/filmstrip.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.jumbotron {
    text-align: center;
    font-weight: 900;
    height: 230px;
    position: relative;
    font-family: 'Unica One', cursive;
    border-style: ridge;
    border-width: 10px;
    border-color: gray;
}
.celeb-image {
    background-image: url("../images/pexels-photo-436413.jpeg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    margin: 20px 0px 20px 0px auto;
    color: black;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    box-shadow: 20px 20px 40px 0 white inset, -20px -20px 40px 0 white inset; 
}
#celeb-container {
    width: 100%;
    
}
.card-header {
    text-align:center;
}
.display {
    position: absolute;
    margin: 0;
    left: 650px;
    right: 0;
    top: 7px;
    background-color: white;
    width: 20%;
    border-style: double;
    border-bottom: none;
    font-weight: 900;
   
}
.display-2 {
   
    position: absolute;
    margin: 0;
    left: 650px;
    right: 0;
    top: 50px;
    font-size: 15px;
    background-color: white;
    width: 20%;
    border-style: double;
    border-top: none;
    font-weight: 900;
}
.card-body {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(216, 214, 214);
    font-weight: 300;
    border-style: ridge;
    border-width: 10px;
    border-color: gray;
}
.card-header {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    border-style: ridge;
    border-width: 10px;
    border-color: gray;
}
.card-body .bold {
    font-weight: bold;
}
.card-body #add-image {
    width: 40%;
    height: 40%;
}
.text {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    text-align: center;
}
